*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.date-input-start, .date-input-end {
  padding: 2px;
  font-size: 1rem;
  background-color: white;
  border: 2px rgb(159, 159, 159) solid;
}

.datepicker-container, .datepicker-container2 {
  text-align: center;
}
.datepicker-container p, .datepicker-container2 p {
  margin-bottom: 0px;
}

.datepicker {
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: rgb(255,255,255);
  padding: 10px;
  border: 1px rgb(159, 159, 159) solid;
}

.datepicker button {
  background: transparent;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  touch-action: manipulation;
  border: none;

}

.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 28px);
  gap: 10px;
  margin-block: 10px;
}

.days{
    background-color: rgba(3, 40, 115, 0.463);
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.dates button {
  color: black;
  aspect-ratio: 1;
}

.dates button:disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.dates button:hover {
  background: rgba(119, 136, 153, 0.1);
}

.dates button.today {
  background: rgba(3, 40, 115, 0.319);
}

.dates button.selected {
  background:rgb(3, 40, 115);
  color: white;
  font-weight: 700;
}

.datepicker-toolbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px rgb(159, 159, 159) solid;
}

.datepicker-toolbar select,
.datepicker-toolbar input {
  font-size: 14px;
border: 1px rgb(159, 159, 159) solid;
  
}

.datepicker-toolbar input {
  max-width: 50px;
}

.datepicker-toolbar button {
  color:white;
  background-color: rgb(3, 40, 115);
  font-weight: 650;
  border-radius: 5px;
}

.datepicker-toolbar button:hover {
  background-color:rgb(2, 59, 174);

}

.datepicker-end-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px rgb(159, 159, 159) solid;
}

.datepicker-end-button button {
  background-color: rgba(159, 159, 159, 0.692);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 650;
}

.datepicker-end-button button.apply {
  background:rgb(3, 40, 115);
  color:white;
 
}

.datepicker-end-button button.apply:hover {
    background-color: rgb(2, 59, 174);
}
.datepicker-end-button button.cancel:hover {
    background-color: rgba(159, 159, 159, 0.952);
}